wheel
requests
click
numpy
cython
tifffile
pillow
python-dateutil
utm
shapely
boto3
botocore
pyproj; python_version < '3.7'
git+https://github.com/jswhit/pyproj.git@master#egg=pyproj; python_version >= '3.7'