pytest>=4.0.0
pytest-cov
codecov
pylint>=2.2.0
twine
requests-mock
black[jupyter]>=22.1.0
isort
pillow>=9.0.0
click>=8.0.0
rasterio;python_version<"3.10"
ray[default];python_version<"3.10"
protobuf<=3.20.1;python_version<"3.10" # incompatible ray dependency
mypy
types-requests
types-python-dateutil
types-urllib3
