pytest>=4.0.0
pytest-cov
codecov
pylint>=2.14.0
twine
requests-mock
black[jupyter]>=22.1.0
isort
pillow>=9.0.0
click>=8.0.0
rasterio;python_version<"3.10"
ray[default]
mypy
nbqa
types-requests
types-python-dateutil
types-urllib3
flake8
