requests>=2.5.0
click
numpy
tifffile>=2020.9.30
pillow
python-dateutil
utm
shapely
pyproj>=2.2.0
oauthlib
requests_oauthlib
aenum>=2.1.4
dataclasses-json
tqdm
shared-memory38;python_version<"3.8"
typing-extensions;python_version<"3.8"
