pytest>=4.0.0
pytest-mock
requests-mock
pytest-cov
codecov
twine
pylint>=2.14.0
black[jupyter]>=22.1.0
isort
flake8
nbqa
click>=8.0.0
ray[default]
mypy
types-requests
types-python-dateutil
types-urllib3
boto3-stubs>=1.20.0
